/* colors */

/*
60% - #72AB54 - Primary
30% - #BA5B7B - Secondary
10% - #688DD4 - Accent
 black text
*/

:root {

/* var(--dominantColor) !important; */
--dominantColor:#72AB54;

--secondaryColor:#BA5B7B;

--accentColor:#688DD4;

}